* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 425px;
  display: flex;
  margin: auto;
  font-size: 1.6rem;
  background-color: #fff;
}

:root {
  font-size: 62.5%; 
  /*Cores do projeto */
  --Brand-Colors-Explorer-dark:#065E7C;
  --background-color-input: rgba(255, 255, 255, 0.20);
  --Platform-Aliases-Shape-principal: #202024;
  --Platform-Aliases-Background: #121214;
  }

html, 
body ,
input {

font-family: "Mulish", sans-serif;
}

header {
background-color: var(--Brand-Colors-Explorer-dark);

display: flex;
height: 72px;
align-items: center;
justify-content: center;

align-items: center;

gap: 2.5rem;
flex-shrink: 0;
}

.input-wrapper input {
  width: 100%;
background: rgba(255, 255, 255, 0.20);

display: flex;
align-items: center;
gap: 1.2rem;
border-radius: 0.4rem;

padding: 1.2rem 1.6rem 1.2rem 1.4rem;
}

.input-wrapper input::placeholder {
width: 232px;
color: #FFFFFF;
font-size: 1.6rem;
font-weight: 600;


}

/*Escondendo o label*/
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
#bkimagem {
  width: 434px;
  height: 219px;
}

.title {
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 0.8rem;
margin: 3.1rem 0;

}

main h1, h2 {
  color: var(--Platform-Aliases-Shape-principal, #202024);
  font-size: 2.4rem;

  line-height: 3.8rem; 
}


.action {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

button {
  border: 0;
  background-color: #fff;
}

section p {
width: 382px;
color: var(--Platform-Aliases-Background, #121214);
font-size: 1.6rem;
line-height:2.5rem;
}

 aside h2 {
  color: var(--Platform-Aliases-Shape-principal, #202024);
  font-size: 2.4rem;
  margin-top: 3.2rem;
  line-height: 3.8rem; 
  margin-bottom: 3.2rem;
}

article {
display: flex;
margin-bottom: 3.2rem;
}

figcaption {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}



figcaption h3 {
color: var(--Platform-Aliases-Shape-principal, #202024);


font-size: 1.8rem;
font-weight: 700;
line-height: 2.9rem;
margin-bottom: 0.1rem;
}

figcaption span {
color: var(--Platform-Aliases-Background, #121214);

width: 215px;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 2.2rem;
}

footer a {
color: #FFF;
text-decoration: none;
text-align: center;
font-weight: 600;
}

footer {
background-color: var(--Brand-Colors-Explorer-dark);

display: flex;
height: 6.4rem;
padding: 1.6rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1.0rem;
}

@media (min-width:760px) {
  body {
max-width: fit-content;
  }
  
  #app {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
  }

  header {
grid-area: header;
  }

  .input-wrapper input {
    width: 1083px;
  }

  main {
    grid-area: main;
   margin-right: 3.4rem;
   margin-top: 4.4rem;
  }

  #bkimagem {
    width: 803px;
  height: 405px;
  }

  
  .title {
    width: 800px;
    display: flex;
    flex-direction: row;
    gap: 366px;
  }

  section p {
    width: 800px;
  }

  aside {
    grid-area: aside;
    width: 384px;
    height: 566px;
    gap: 3.2rem
  
  }

  footer {

    grid-area: footer;
    margin-top: 3.9rem;
  }


 




}